.home_page{
    min-height: calc(100vh - 100px);
    padding: 30px;
    background: rgb(236, 236, 231);
    color: #333;
}
.home_page h2{
    font-size: 2rem;
    margin: 10px 0;
    color: rgb(1, 17, 17);
}
.home_page p{
    color: #777;
    line-height: 1.5;
    margin: 10px 0;
    font-style: italic;
}
 